<form action="/add_place_handler" method="post">
    <div class="form-group">
        <label for="descripcion">Descripcion </label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" required />
    </div>

    <div class="form-group">
        <label for="id_beacon">Id Beacon </label>
        <input type="text" class="form-control" id="id_beacon" name="id_beacon" required />
    </div>

    <div class="form-group">
        <label for="texto">Texto </label>
        <input type="text" class="form-control" id="texto" name="texto" required />
    </div>

    <div class="form-group">
        <label for="pregunta">Pregunta </label>
        <input type="text" class="form-control" id="pregunta" name="pregunta" required />
    </div>

    <div class="form-group">
        <label for="respuesta_ok">Respuesta correcta </label>
        <select class="form-control" id="respuesta_ok" name="respuesta_ok" required>
        </select>
    </div>

    <div class="form-group">
        <label for="respuesta_nueva">Opciones de respuesta </label>
        <input type="text" class="form-control" id="respuesta_nueva" name="respuesta_nueva" required />
        <button type="button" class="btn btn-default" id="add_option">Añadir opción</button>
    </div>

    <div class="form-group">
        <table id="opciones_respuesta" class="table">
            <tr>
                <th>Opción</th>
                <th>Borrar</th>
            </tr>
        </table>
    </div>

    <input type="submit" class="btn btn-default" value="Crear" />
</form>
<script type="text/javascript">
    function delOpt(opt) {
        // Remove the answer from the list
        $("#opciones_respuesta tr").each(function(i, val_) {
            if (i == 0)
                return;
            var val = $(val_);
            if (val.children().first().children().first().val() == opt) {
                val.remove();
            }
        });

        // Remove the answer from available correct answers
        $("#respuesta_ok option").each(function(i, val_) {
            var val = $(val_);
            if (val.val() == opt)
                val.remove();
        });
    }

    $(document).ready(function() {
        $("#add_option").click(function() {
            var text = $("#respuesta_nueva").val();
            var data = "<tr><td>" + text + "<input type='hidden' name='opciones[]' value='" + text + "' /></td><td><a href=\"javascript:delOpt('" + text + "');\"><i class=\"fa fa-trash\" aria-hidden=\"true\"></i></a></td></tr>";
            var data_select = "<option value='" + text + "'>" + text + "</option>";
            $("#opciones_respuesta").append(data);
            $("#respuesta_ok").append(data_select);
        });
    });
</script>